.field-form{
    display: flex;
    align-items: flex-start;
}

.btn-search{
    width: 24rem;
    margin-top: 15px;
}

mat-form-field{
    margin-right: 10px;
    width: 100%;
}

.btnExport{
    margin-bottom: 12px;
}