<div class="body">
    <mat-card class="login-card">
        <div class="header">
            <mat-card-title style="color: #3f51b5;">LogIn</mat-card-title>
        </div>
        <mat-card-content style="padding-bottom: 15px;">
            <form [formGroup]="form" (ngSubmit)="logIn()" style="padding-bottom: 13px;">

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput autocomplete="off" style="color: white;">
                    <mat-icon matSuffix color="primary">email</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [type]="hidePassword ? 'password': 'text'" formControlName="password" matInput
                        autocomplete="off" style="color: white;">

                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                        <mat-icon matSuffix color="primary">{{hidePassword ? 'visibility_off': 'visibility'}}</mat-icon>
                    </button>

                </mat-form-field>

                <button  [disabled]="form.invalid" class="full-width btnLogin" mat-raised-button color="primary" type="submit">
                    <mat-icon matSuffix>login</mat-icon>
                     Continue
                </button>

            </form>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>